<div class="page-container">

  <h5 class="sous-titre">
    <span [innerHtml]="'contact.text.intro' | translate"></span>
  </h5>


  <ul class="nav nav-pills boutons">
    <li (click)="showBottomBloc('formulaire')" class="nav-item">
      <uptevia-ui-button-toggle label="{{ 'contact.text.byForm' | translate }}"
        icon="{{ inconForm }}"></uptevia-ui-button-toggle>
    </li>

    <li (click)="showBottomBloc('telephone')" class="nav-item">
      <uptevia-ui-button-toggle label="{{ 'contact.text.byPhone' | translate }}"
        icon="{{ inconTelephone }}"></uptevia-ui-button-toggle>
    </li>
  </ul>

  <div class="tab-content" id="pills-tabContent">
    <div *ngIf="showQReponseBloc" class="container">

      <div class="bloc-3-questions" id="pills-most-asked">
        <p class="text-noir" [innerHtml]="'contact.text.mostAsked' | translate"></p>
        <div class="row">
          <uptevia-ui-qresponse class="col-xl-4" *ngFor="let item of qReponseList"
            [title]="item.faqQuestionKey | translate" [text]="item.faqAnswerKey | translate"
            (click)="onClickQuestion(item)">
          </uptevia-ui-qresponse>
        </div>

      </div>
    </div>

    <div *ngIf="showForm" class="row panel-telephone">
      <!-- TODO : A remplir par  STO19 & STO21-->
      <span *ngIf="isConnected" style="background-color: green">Zone prévue pour le formulaire en mode connecté
      </span>
      <span *ngIf="!isConnected" style="background-color: white">Zone prévue pour le formulaire en mode
        non-connecté
        <app-registerform></app-registerform>
      </span>
    </div>

    <div *ngIf="showTelephone" class="active">
      <div class="row panel-telephone hidden">
        <div class="row fond-blanc">
          <div class="row">
            <div class="number">
              <img src="assets/pictos/tel-noir.svg" alt="" />
              <span class="text-noir">{{ 'contact.text.numFixe' | translate }}</span>
            </div>
            <div class="text-horaires">
              <span [innerHtml]="'contact.text.horaires' | translate"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>