<form [formGroup]="form" (ngSubmit)="onFormSubmit()">

    <div class="float-container">
  
      <div class="float-child1">
        <div><uptevia-ui-label label="{{'form.field.category'| translate}}"></uptevia-ui-label>
        </div>
      </div>
  
      <div class="float-child">
        <div>
          <uptevia-ui-label class="form-label" label="{{'form.field.selcategory'| translate}}"></uptevia-ui-label>
          <select id="categoriesList" formControlName="categoriesList" (change)="onCategorySelect($event)"
            [ngClass]="{ 'is-invalid': submitted && form.get('categoriesList')?.errors }"
            (ngModelChange)="onCategorySelect($event)">
            <select [ngModel]="selectedCategoryId" [ngModelOptions]="{standalone: true}"></select>
            <option *ngFor="let category of categories" [value]="category.typoId">
              {{ category.typoTraductionKey | translate }}
            </option>
          </select>
          <div *ngIf="submitted && form.get('categoriesList')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('categoriesList')?.hasError('required')"> {{'form.field.validator.category' | translate}}
            </div>
          </div>
        </div>
  
        <!-- Add another dropdown for subcategories -->
        <div *ngIf="selectedCategoryId">
          <select formControlName="selectedSubcategory" (change)="onSubCategorySelect($event)"
            [ngClass]="{ 'is-invalid': submitted && form.get('selectedSubcategory')?.errors }">
            <select [ngModel]="selectedSubCategoryId" [ngModelOptions]="{standalone: true}"></select>
            <option *ngFor="let subCategory of filteredSubCategories" [value]="subCategory.sousTypoId">
              {{ subCategory.sousTypoTraductionKey | translate}}
            </option>
          </select>
          <div *ngIf="submitted && form.get('selectedSubcategory')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('selectedSubcategory')?.hasError('required')"> {{'form.field.validator.category' |
              translate}}
            </div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="float-container">
  
      <div class="float-child1">
        <div> <uptevia-ui-label label="{{'form.field.confirm'| translate}}"></uptevia-ui-label> </div>
      </div>
  
      <div class="float-child">
        <div class="col-3 mb-3">
          <uptevia-ui-label label="{{'form.field.identifiant'| translate}}"></uptevia-ui-label>
          <input type="identifiant" formControlName="identifiant" #nameField class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('identifiant')?.errors }" />
          <div *ngIf="submitted && form.get('identifiant')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('identifiant')?.hasError('pattern')"> {{'form.field.validator.alphanumerique' |
              translate}}</div>
            <div *ngIf="form.get('identifiant')?.hasError('maxlength')"> {{'form.field.validator.maxidi' | translate}}
            </div>
            <div *ngIf="form.get('identifiant')?.hasError('minlength')"> {{'form.field.validator.minidi' | translate}}
            </div>
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label label="{{'form.field.emetteur'| translate}}"></uptevia-ui-label>
          <input type="emetteur" formControlName="emetteur" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('emetteur')?.errors }" />
          <div *ngIf="submitted && form.get('emetteur')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('emetteur')?.hasError('pattern')"> {{'form.field.validator.alphanumerique' | translate}}
            </div>
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label label="{{'form.field.ccn'| translate}}"></uptevia-ui-label>
          <input type="ccn" formControlName="ccn" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('ccn')?.errors }" />
          <div *ngIf="submitted && form.get('ccn')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('ccn')?.hasError('pattern')"> {{'form.field.validator.alphanumerique' | translate}}</div>
            <div *ngIf="form.get('ccn')?.hasError('maxlength')"> {{'form.field.validator.maxccn' | translate}}</div>
            <div *ngIf="form.get('ccn')?.hasError('minlength')"> {{'form.field.validator.minccn' | translate}}</div>
  
  
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label class="form-label" label="{{'form.field.lastname'| translate}}"></uptevia-ui-label>
          <input type="lastName" formControlName="lastName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('lastName')?.errors }" />
          <div *ngIf="submitted && form.get('lastName')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('lastName')?.hasError('required')"> {{'form.field.validator.lastname' | translate}}</div>
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label class="form-label" label="{{'form.field.firstname'| translate}}"></uptevia-ui-label>
          <input type="firstName" formControlName="firstName" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('firstName')?.errors }" />
          <div *ngIf="submitted && form.get('firstName')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('firstName')?.hasError('required')">{{'form.field.validator.firstname' | translate}}
            </div>
          </div>
        </div>
  
  
  
        <div class="col-3 mb-3">
          <div>
            <uptevia-ui-label class="form-label" label="{{'form.field.phone'| translate}}"></uptevia-ui-label>
            <select id="selectphone" formControlName="selectphone" name="selectphone"
              [ngClass]="{ 'is-invalid': submitted && form.get('selectphone')?.errors }">>
              <option [defaultSelected]=true [value]="defaultCode">{{defaultCode}}</option>
              <option *ngFor="let n of numberCode" [value]="n">{{ n }}</option>
            </select>
            <div *ngIf="submitted && form.get('selectphone')?.hasError" class="invalid-feedback">
              <div *ngIf="form.get('selectphone')?.hasError('required')"> {{'form.field.validator.phone' | translate}}
              </div>
            </div>
          </div>
  
          <input id="telephone" type="text" formControlName="telephone" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('telephone')?.errors }"
            placeholder="entrez votre telephone" />
          <div *ngIf="submitted && form.get('telephone')?.hasError" class="invalid-feedback">
            <div *ngIf="form.get('telephone')?.hasError('required')"> {{'form.field.validator.phone' | translate}}</div>
            <div *ngIf="form.get('telephone')?.hasError('pattern')"> {{'form.field.validator.numbers' | translate}}</div>
            <div *ngIf="form.get('telephone')?.hasError('minlength')"> {{'form.field.validator.minnumbers' | translate}} </div>
            <div *ngIf="form.get('telephone')?.hasError('maxlength')"> {{'form.field.validator.maxidi' | translate}}</div>
            <div *ngIf="form.get('telephone')?.hasError('invalidPrefix')"> {{'form.field.validator.phoneindi' | translate}}</div>
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label class="form-label" label="{{'form.field.dob'| translate}}"></uptevia-ui-label>
          <input type="date" formControlName="dob" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('dob')?.errors }" />
          <div *ngIf="submitted && form.get('dob')?.hasError || form.get('dob')?.hasError('pattern') "
            class="invalid-feedback">
            <div *ngIf="form.get('dob')?.hasError('required')"> {{'form.field.validator.dob' | translate}}</div>
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label class="form-label" label="{{'form.field.email'| translate}}"></uptevia-ui-label>
          <input type="text" formControlName="email" class="form-control"
            [ngClass]="{ 'is-invalid': submitted && form.get('email')?.errors }" />
          <div *ngIf="submitted && form.get('email')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('email')?.hasError('required') || form.get('email')?.hasError('email') ">
              {{'form.field.validator.email' | translate}}</div>
          </div>
        </div>
  
        <div class="col-3 mb-3">
          <uptevia-ui-label class="form-label" label="{{'form.field.pays'| translate}}"></uptevia-ui-label>
          <select id="pays" name="pays" formControlName="pays"
            [ngClass]="{ 'is-invalid': submitted && form.get('pays')?.errors }">
            <option [defaultSelected]=true [value]="default">{{default}}</option>
            <option *ngFor="let c of countries" [value]="c">{{ c }}</option>
          </select>
          <div *ngIf="submitted && form.get('pays')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('pays')?.hasError('required')"> {{'form.field.validator.pays' | translate}}</div>
          </div>
        </div>
      </div>
  
    </div>
  
    <div class="float-container">
  
      <div class="float-child1">
        <div> <uptevia-ui-label class="form-label" label="{{'form.field.message'| translate}}"></uptevia-ui-label></div>
      </div>
  
      <div class="float-child">
        <div class="col-3 mb-3">
          <textarea formControlName="message" [ngClass]="{ 'is-invalid': submitted && form.get('message')?.errors }"
            placeholder="{{'form.field.placeholder'| translate}}" [attr.disabled]="words >4000 ? '' : null"
            (keydown)="wordCounter()" #text id="wmd-input" name="post-text"
            class="wmd-input s-input bar0 js-post-body-field processed" data-post-type-id="2" cols="62" rows="10"
            tabindex="4001" data-min-length="" oncopy="return false;" onpaste="return false;"
            oncut="return false;"></textarea>
          <div>{{'form.field.words'| translate}}<span id="wordCount">{{words}}</span></div>
          <div *ngIf="submitted && form.get('message')?.hasError " class="invalid-feedback">
            <div *ngIf="form.get('message')?.hasError('required')"> {{'form.field.validator.message' | translate}}</div>
          </div>
        </div>
      </div>
  
    </div>
    <div class="float-container">
  
  
      <div class="float-child">
        <div class="form-check mb-3">
          <input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"
            [ngClass]="{ 'is-invalid': submitted && form.get('acceptTerms')?.errors }" />
          <label for="acceptTerms" class="form-check-label"> {{'form.field.validator.case' | translate}}</label>
          <div *ngIf="submitted && form.get('acceptTerms')?.hasError " class="invalid-feedback">
          </div>
        </div>
        <div> <uptevia-ui-label label="{{'form.field.senduptevia'| translate}}"></uptevia-ui-label></div>
  
        <button type="submit" class="btn btn-primary me-2"
          [ngClass]="{ 'is-invalid': submitted && form.get('acceptTerms')?.errors }">{{'form.field.send' |
          translate}}</button>
        <div *ngIf="submitted && form.invalid" class="invalid-feedback">{{'form.field.validator.submit' | translate}}
        </div>
      </div>
    </div>
  </form>